.Home-Body{
    margin-top: 10%;
    display: flex;
}
.Detail{
    width: 40%;
    margin-left: 5%;
}
.img{
    width: 50%;
    margin-left: 5%;
}
.img img{
    width: 30%;
    margin: 5px;
  position: relative;
}
.img img:hover{
    border: 3px solid orange;
    border-radius: 10px;
}
footer{
    text-align: center;
    margin-top:3in;
    border: 2px solid black;
    margin-left: 25%;
    margin-right: 25%;

}
.bookingButtin{
    color: black;
    background-color: orange;
    border-radius: 5px;
}